* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #faf2ef;
    margin: 0 10%;
    font-family: sans-serif;
}
h1 {
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #8caba8;
    margin-top: 30px;
}
h2 {
    color: #8caba8;
    font-size: 1eml
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 100%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    background-color: #FFDAB9;
}


/* New styles for Exercise 5 */

body{
    font-family: sans-serif;
    background-image: url("../images/moroccan-flower.png");
    background-repeat: repeat;
    background-position: right bottom;
  }
  header{
    background-color: #FAF0E6;
    color: #fff;
    padding: 45px 25px;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 35px 25px;
  }
  
  nav{
    background-color:#FFDAB9;
  }
  nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top:20px;
    padding-bottom: 20px;
  }
  /* nav ul li {} */
  nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 16px;
    text-align: center;
    background-color: #333;
    border-radius: 12px;
    min-width: 120px;
    transition: background-color 0.5s ease;
  }
  nav ul li a:hover {
    background-color: #111;
  }
  
  aside img{
    border: 4px solid #8FB4FF;
    border-radius: 99999px;
  }
  div {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
    a:link,a :visited {
      color:cornflowerblue
      text-decoration: none;
    }
a:hover {
  color:#8FB4FF
  text-decoration: underline;
}
  /*********** Layout ***********/
.container {
  background-color: white;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  width: min(95%, 75rem);
}
.container > * {
  grid-column: span 12;
}

/* Desktop Layout */
@media screeen and (min-width: 40rem) {
  .col-span-8 {
    grid-column: span 8;
  }
  .col-span-4 {
    grid-column: span 4;
  }
}

/*********** Components ***********/
.button:link,
.button:visited {
  color: white;
  background-color: aliceblue;
  text-align: center;
  text-decoration: none;
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  box-shadow: 0 .125rem .5rem aliceblue;
  display: inline-block;
  margin: 0 .25rem .25rem 0;
}  
